.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 3rem;
  bottom: 3rem;
  width: 100%;
  height: calc(100% - 3rem);
  z-index: -1;
}

.map-person {
  position: absolute;
  z-index: 0;
  width: 226px;
}

.map-person-name {
  background-image: url(img/name.png);
  height: 99px;
  width: 226px;
  background-size: contain;
  position: relative;
}

.map-person-name > div {
  position: absolute;
  top: 23%;
  left: 33%;
  height: 16%;
  width: 50%;
}

.map-person-name > div > h6 {
  margin: 0;
  text-align: center;
  line-height: 17px;
}

.footprints {
  width: 50px;
  margin: 0 auto;
}

.footprints > * {
  height: 50px;
}
