/* NavBar kūrybos pradžia  */
/* 1 */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 3rem;
    background-image: url(img/grunge_paper.jpg);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
    z-index: 2;
    margin-bottom: 2rem;
}

/* 2 */
.navbar .logo {
    float: left;
    padding: 0.5rem 2rem;
    height: 2rem;
}

.navbar .logo a img {
    /* 100% reiškia jog yra užimamas visas logo konteineris, 
    kurio dydį nustatėme "logo" klasėje */
    height: 100%;
}

/* 3 */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar>ul {
    float: right;
}

.navbar>ul>li {
    float: left;
}

.navbar li a {
    display: block;
    color: black;
    padding: 0.5rem 2rem;
    line-height: 2rem;
    text-decoration: none;
}

.navbar li a:hover {
    transform: scale(1.3);
}


@media screen and (min-width:480px) {

    .navbar .logo,
    .navbar>ul,
    .navbar>ul>li {
        float: none;
    }

    .navbar>ul {
        text-align: center;
        display: none;
    }

    .navbar:hover>ul {
        display: block;
    }


}